:root {
    --box-content-color: rgb(58, 66, 79);
    --big-box-content-color: rgb(58, 66, 79);
    --table-color: rgb(68, 80, 91);
    --box-selected: rgb(112, 115, 124);
    --link-color: rgb(183, 204, 245);
}

* {
    color: rgb(240, 240, 240);
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: rgb(0, 0, 0) url(images/background.png);
    overflow-x: hidden;
    height: 100vh;
}

::selection {
    background-color: rgb(112, 115, 124);
    color: rgb(255, 255, 255);
}

#messages-section {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 570px);
    overflow-x: hidden;
    word-break: break-word;
    padding: 10px;
    text-align: start;
}

.sender-bubble {
    align-self: flex-start;
    max-width: 500px;
    background-color: rgb(96, 98, 107);
    border-radius: 30px;
    margin: 5px 0;
    padding: 15px;
}

.receiver-bubble {
    align-self: flex-end;
    max-width: 500px;
    background-color: rgb(88, 101, 117);
    border-radius: 30px;
    margin: 5px 0;
    padding: 15px;
}

#newmessage-section form {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footerwrapper {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgb(255, 255, 255);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 120px;
    transition: height 0.5s ease;
}

#mobile-header {
    display: none;
}

.header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.form {
    display: block;
    text-align: center;
}

form,
.g-recaptcha {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

select {
    border-radius: 5px;
    padding: 10px 0 10px 5px;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(23, 27, 34, 1) 0%, rgba(43, 47, 54, 1) 39%);
    border: 2px solid rgb(33, 33, 33);
    text-align: left;
}

select:focus {
    background-color: var(--box-selected);
}

.td-cursor {
    cursor: pointer;
}

.tr-hover td {
    transition: background-color 0.2s;
}

.tr-hover:hover td {
    background-color: var(--box-selected);
    transition: background-color 0.2s;
}

option[selected] {
    font-weight: bold;
    color: rgb(255, 255, 127);
}

input,
textarea,
button {
    font-size: 16px;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--big-box-content-color);
}

input[type=text]:focus,
textarea:focus,
input[type=password]:focus {
    outline: none;
    border-color: var(--box-selected);
}

input[type=submit],
input[type=button],
button {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(23, 27, 34, 1) 0%, rgba(43, 47, 54, 1) 39%);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    padding: 5px;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    background: var(--box-selected);
    border-color: var(--box-selected);
}

input[type=submit]:disabled,
button:disabled {
    background: linear-gradient(0deg, rgba(23, 27, 34, 0.37) 0%, rgba(43, 47, 54, 0.42) 39%);
    border: 2px solid rgba(33, 33, 33, 0.49);
    color: #989898;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: rgb(240, 240, 240) !important;
}

/* Wrapper for content (left, right, mid) */
.content-box {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Box in mid */
.big-box-container {
    display: inline-block;
    width: 100%;
    outline: 1px solid rgb(0, 0, 0);
    background-color: var(--big-box-content-color);
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 7px 6px rgba(42, 42, 42, 0.8);
    box-shadow: 0 5px 7px 6px rgba(42, 42, 42, 0.8);
    margin-bottom: 30px;
}

.big-box-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px 50px 20px 50px;
    font-size: 32px;
    height: 50px;
}

.big-box-content {
    padding: 10px 10px 20px;
    text-align: center;
}

/* Boxes at each side */
.box-container {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    outline: 1px solid rgb(0, 0, 0);
    margin-bottom: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 7px 6px rgba(42, 42, 42, 0.8);
    box-shadow: 0 5px 7px 6px rgba(42, 42, 42, 0.8);
}

.box-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgb(43, 47, 54);
    background: linear-gradient(0deg, rgba(23, 27, 34, 1) 0%, rgba(43, 47, 54, 1) 39%);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.box {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: var(--box-content-color);
    transition: background-color 0.2s;
    padding: 0 10px;
    cursor: pointer;
}

.box:not(:last-child) {
    border-bottom: 1px solid rgba(75, 77, 86, 0.8);
}

.box:hover {
    background: rgb(112, 115, 124);
}

.box.active {
    background: rgb(112, 115, 124);
}


/* Container of each side and mid */
.left-container,
.right-container {
    height: 100%;
    width: 200px;
}

.middle-container {
    width: 850px;
}

/* Misc. */
a.box {
    text-decoration: none;
}

a.box span {
    position: relative;
    visibility: hidden;
    padding: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
}

.table {
    min-width: 70%;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: separate;
    border: 2px solid rgb(29, 33, 39);
}

td {
    background-color: var(--table-color);
    border: solid 1px rgb(29, 33, 39);
    font-size: 18px;
    padding: 5px 10px;
    text-align: left;
}

.td-center {
    text-align: center;
}

.td-gradient {
    background: linear-gradient(0deg, rgba(68, 80, 91, 1) 0%, rgba(88, 100, 111, 1) 39%);
}

.error {
    color: rgb(245, 83, 83);
    /*font-weight: bold;*/
}

.passed {
    color: rgb(11, 218, 81);
}

.popupbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    max-width: 350px
}

.popup {
    cursor: default;
}

.ressource-icons {
    vertical-align: bottom;
    width: 24px;
    height: 24px;
}

.menu-icons {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.item-icons {
    width: 36px;
    height: 36px;
}

.split-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Map styles */
.map-arrows {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.cell-container {
    width: 100%;
    height: 100%;
}

.kingdom-img {
    width: 100%;
    height: 100%;
}

#map-container td {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

#map-container .td-main {
    background-color: var(--table-color);
    border: solid 1px rgb(29, 33, 39);
    font-size: 18px;
    padding: 5px 10px;
    text-align: left;
    width: 50%;
}

.top-bottom-cell {
    height: 30px;
}

.map-img {
    position: relative;
    display: block;
    margin: auto;
}

.map-legend {
    width: 32px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: middle;
}

.highlight {
    border: 2px solid red;
}

/* Container for the menu and hamburger icon */
#mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    align-items: flex-start;
    transform: translateX(-250px);
    transition: transform 0.3s ease;
    margin-bottom: 100px;
}

/* The hidden menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    height: 100%;
    background-color: var(--table-color);
    border-right: solid black 1px;
    overflow: auto;
}

/* Hamburger Icon */
.hamburger-icon {
    display: none;
    width: 50px;
    height: 50px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-bottom-right-radius: 10px;
    background-color: var(--table-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Slide-out effect */
#mobile-nav.open {
    transform: translateX(0);
}


/* Smartphone Ansicht */
@media screen and (max-width: 700px) {
    html {
        width: 100%;
    }

    #map-container td {
        width: 35px;
        height: 35px;
    }

    body {
        font-size: 16px;
        background-attachment: scroll;
    }

    .header {
        transition: height 0.5s ease;
        height: 70px;
    }

    .ressource-icons,
    .menu-icons,
    .item-icons {
        width: 20px;
        height: 20px;
    }

    input,
    textarea,
    button {
        font-size: 14px;
    }

    .big-box-header {
        font-size: 24px;
    }

    .big-box-container {
        margin: 0;
    }

    td {
        font-size: 16px;
    }

    #newmessage-section textarea {
        height: 50px;
    }

    #footerwrapper {
        display: none;
    }

    #messages-section {
        max-height: calc(100vh - 420px);
    }
}

@media screen and (max-width: 1392px) {
    .left-container,
    .right-container {
        display: none;
    }

    .hamburger-icon {
        display: flex;
    }

    #mobile-nav {
        display: flex;
    }

    .middle-container {
        width: 95%;
    }

    .box-container {
        width: 80%;
    }
}