<IfModule mod_php5.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    SetHandler id-not-only-text
    ForceType text/plain
</FilesMatch>

Options -Indexes

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<RequireAll>
    Require all denied
</RequireAll>

<FilesMatch "\.(?i:jpe?g|gif|png)$">
    Require all granted
</FilesMatch>